:root {
  /* GAPSI Color Palette */
  --text: #777777;
  --text-h: #0e0e0e;
  --bg: #fff;
  --border: #c8c8c8;
  --code-bg: #c8c8c8;
  --accent: #005db9;
  --accent-bg: #0053a5;
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --accent-bg: #060606;

  --sans: system-ui, 'Open Sans', Roboto, sans-serif;
  --heading: system-ui, 'Open Sans', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Reassigning the root variables of Bootstrap and Material UI*/
:root {
  --bs-body-font-family: var(--sans) !important;
  --bs-font-sans-serif: var(--sans) !important;
}

#root {
  height: 100vh;
}

.MuiTypography-root:not(.MuiTypography-root.MuiTypography-h1) {
  font-size: 0.9rem !important;
}

.MuiInputBase-input {
  padding: 0.4rem 0.4rem !important;
}
.MuiInputLabel-root {
  font-size: 0.9rem !important;
}

.MuiButton-root {
  font-size: 0.8rem !important;
}
.MuiButton-root.MuiButton-colorPrimary {
  --variant-outlinedBorder: var(--accent) !important;
}
.MuiTab-root.Mui-selected {
  color: var(--accent) !important;
}
.text-primary {
  --bs-primary-rgb: var(--accent) !important;
  color: var(--accent) !important;
}

/* Animations */
@keyframes cartSwing {
  from {
    transform: 'rotate(-12deg)';
  }
  to {
    transform: 'rotate(8deg)';
  }
}
